@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

body {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}

#container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

#container #form {
    border: 0.5px solid;
    border-radius: 15px;
    padding: 1em;
    box-shadow: 0 3px 3px 0px rgba(2, 2, 0, 0.1);
}

table {
    border-collapse: collapse;
}

th, td {
    padding: 0.5em;
    text-align: center;
}

th, input[type="button"] {
    color: #f00;
}

input[type="button"] {
    background-color: transparent;
    outline: none;
    border: 0.5px solid #f00;
    border-radius: 5px;
    padding: 0.5em;
    transition: all 0.3s ease-in-out;
}

input[type="button"]:hover {
    transform: scale(110%);
    cursor: pointer;
}