body {
    background-image: url("https://sm.ign.com/ign_br/news/p/playing-el/playing-elden-ring-in-co-op-is-much-easier-than-we-thought_x9q8.jpg");
    background-repeat: no-repeat;
}

div.opacity {
    background-color: lightblue;
    opacity: 0.3;
    padding: 16px;
}

div.opacity:hover {
    background-color: white;
}

h1{
    text-align: center;
    text-transform: uppercase;
    color: #4CAF50;
}

p {
    background-color: yellow;
    border-radius: 5px;
}

table, td, th, tr {
    border:1px solid black;
}
table{
    width: 100%;
    border-collapse:collapse;
}

h1.Azul{
    color:blueviolet;

}

td{
    text-align: center;
}
.center {
    text-align: center;
}